span.multiselect-native-select {
	position: relative
}
span.multiselect-native-select select {
	border: 0!important;
	clip: rect(0 0 0 0)!important;
	height: 1px!important;
	margin: -1px -1px -1px -3px!important;
	overflow: hidden!important;
	padding: 0!important;
	position: absolute!important;
	width: 1px!important;
	left: 50%;
	top: 30px
}
.multiselect-container {
	position: absolute;
	list-style-type: none;
	margin: 0;
	padding: 0
}
.multiselect-container .input-group {
	margin: 5px
}
.multiselect-container>li {
	padding: 0
}
.multiselect-container>li>a.multiselect-all label {
	font-weight: 700
}
.multiselect-container>li.multiselect-group label {
	margin: 0;
	padding: 3px 20px 3px 20px;
	height: 100%;
	font-weight: 700
}
.multiselect-container>li.multiselect-group-clickable label {
	cursor: pointer
}
.multiselect-container>li>a {
	padding: 0
}
.multiselect-container>li>a>label {
	margin: 0;
	height: 100%;
	cursor: pointer;
	font-weight: 400;
	padding: 3px 0 3px 30px
}
.multiselect-container>li>a>label.radio, .multiselect-container>li>a>label.checkbox {
	margin: 0
}
.multiselect-container>li>a>label>input[type=checkbox] {
	margin-bottom: 5px
}
.btn-group>.btn-group:nth-child(2)>.multiselect.btn {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px
}
.form-inline .multiselect-container label.checkbox, .form-inline .multiselect-container label.radio {
	padding: 3px 20px 3px 40px
}
.form-inline .multiselect-container li a label.checkbox input[type=checkbox], .form-inline .multiselect-container li a label.radio input[type=radio] {
	margin-left: -20px;
	margin-right: 0
}
.morningdoctor {
    margin-bottom: 5px;
    margin-top: 5px;
}

.eveningdoctor {
    margin-bottom: 5px;
    margin-top: 5px;
}

.nightdoctor {
    margin-bottom: 5px;
    margin-top: 5px;
}
/* span.multiselect-selected-text {
    padding-left: 48px;
    padding-right: 160px;
} */

.mybigmorning {
    margin-top: -10px;
    margin-bottom: 5px;
    font-size: 17px;
}

.mydatearrow {
    display: flex;
    width: 100%;
    padding: 4px 4px;
}

.multiple_line_text_1 {
    border: 5px;
    padding-right: -12px;
    font-size: 9px;
    padding: 1px 5px;
    border: 1px solid;
}
.multiselect {
    line-height: 0px !important;
    padding: 6px 12px;
    font-size: 10px;
}
#calenderdates h5 {
    margin: 0 !important;
    font-size: 9px;
    color: red;
    position: relative;
    top: 4px;
}
.multiple_line {
    height: 20px;
    font-size: 9px;
}
#calenderdates .form-control {
    padding: 0px 12px;
}

.textNightList,
.textEveningList,
.textMorningList {
    line-height: 17px;
    padding: 4px 0px;
    word-spacing: -2px;
    font-size: 14px;
}



#mytableareaa .table-striped>tbody tr:nth-child(odd) td:nth-child(odd) {
    background-color: #eee;
  }
#mytableareaa .table-striped>tbody tr:nth-child(even) td:nth-child(even) {
     background-color: #eee;
   }
.myConsecutive tr {
    background: #eee;
}

div#mytableareaa {
    min-height: .01%;
    overflow-x: auto;
    width: 99%;
    height: 88%;
    margin-left: 9px;
    /* margin-top: 43px; */
    padding-top: 17px;
}

.condition{
    background-color: #eee;
}

body {
    background-color: white;
    width: 99%;
    height: 100%;
    margin-bottom: 59px;
    padding-top: 0px;
}
span.demospan {
    font-weight: 200;
    font-size: 30px;
}

.fullbox {
    min-height: .01% !important;
    overflow-x: auto !important;
    width: 100% !important;
    margin-left: 9px !important;
    margin-top: 1px !important;
    /* /* padding-top: 17px; */
}

.mydoctortable {
    color: white;
    margin-bottom: -74px;
    padding-top: -22px;
    position: relative;
    font-weight: 700;
    font-size: 30px;
}


h2.bstmonthly {
    margin-top: -34px;
    font-size: 38px;
    font-family: cursive;
    font-weight: bold;
    /* text-decoration: underline; */
    /* text-decoration-style: inherit; */
    margin-bottom: 43px;
    text-decoration-color: whitesmoke;
}


#calenderdates .form-control {
    padding: 0px 12px;
    font-size: 15px;
    height: 25px;
}
